# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.ps1 diff=astextplain
*.PS1 diff=astextplain
*.json diff=astextplain
*.JSON diff=astextplain
*.yml diff=astextplain
*.YML diff=astextplain
*.md diff=astextplain
*.MD diff=astextplain
