name: Create documentation release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  document-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}

      # Install md-to-pdf
      # https://github.com/simonhaenisch/md-to-pdf
      - name: Install md-to-pdf
        shell: bash
        working-directory: "${{ github.workspace }}"
        run: |
          npm i -g md-to-pdf

      # Convert markdown document to PDF
      - name: Convert markdown to PDF
        shell: bash
        working-directory: "${{ github.workspace }}"
        run: |
          md-to-pdf "$GITHUB_WORKSPACE/prod-as-built.md" \
            --md-file-encoding utf-8 \
            --config-file ./md2pdf/pdfconfig.json \
            --launch-options '{ "args": ["--no-sandbox", "--disable-setuid-sandbox"] }'

      # Convert markdown document to PDF
      - name: Convert markdown to HTML
        shell: bash
        working-directory: "${{ github.workspace }}"
        run: |
          md-to-pdf "$GITHUB_WORKSPACE/prod-as-built.md" \
            --md-file-encoding utf-8 \
            --config-file ./md2pdf/htmlconfig.json --as-html \
            --launch-options '{ "args": ["--no-sandbox", "--disable-setuid-sandbox"] }'

      # Zip the pdf and html documents
      - name: Zip documents
        shell: bash
        working-directory: "${{ github.workspace }}"
        run : |
          zip -q -9 prod-as-built.zip prod-as-built.*

      # Upload release
      - name: Upload release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: false
          files: |
            ${{ github.workspace }}/prod-as-built.zip
